/*NetHusb*/
@media (max-width: 1024px) {
    main {
        max-width: 990px;
    }
}

@media(max-width: 820px){
    .header{
        justify-content: space-around;
    }
    .header .menu {
        display: none;
    }

    .header .button-header{
        display: none;
    }

    .header .menu-hamburger{
        display: block;
    }

    .content-1{
        flex-direction: column-reverse;
        margin-bottom: 60px;
    }

    .content-1 .Bring-everyone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content-1 .Bring-everyone .title {
        text-align: center;
    }

    .content-1 .Bring-everyone .description {
        font-size: 1.5em;
        width: 92%;
        text-align: center;
        line-height: 30px;
    }

    .content-1 .Bring-everyone .button-content {
        width: 150px;
        height: 50px
    }

    .content-2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content-2 .whats-different {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content-2 .whats-different .title{
        width: 75%;
        font-size: 2.5em;
    }

    .content-2 .whats-different .description{
        font-size: 1.2em;
        width: 95%;
        text-align: center;
        line-height: 30px;
    }

    .articles {
        width: 60%;
    }

    .article {
        margin-bottom: 30px;
    }

    .content-2 .article .number-title {
        background-color: var(--pink_color);
        border-radius: 25px 0px 0px 25px;
        gap: 10px;
        height: 35px;
    } 

    .article .number-title .number {
        width: 60px;
        height: 35px;
        font-size: 0.9em;
    }

    .article .number-title .title{
        font-size: 1.1em;
    }

   .article .article-description .description {
        margin-top: 10px;
        margin-left: 0px;
        font-size: 1.1em;
        width: 83%;
        line-height: 30px;
    }

    .section-peoples .buttons-select button {
        display: inline;
    }

    .section-peoples .button-peoples{
        width: 150px;
        height: 50px;
        margin-top: 30px;
    }

    footer {
        max-width: 820px;
    }

    .section-orange {
        flex-direction: column;
        gap: 25px;
        justify-content: center;
    }

    .section-orange .title {
        text-align: center;
        font-size: 2.2em;
        width: 32%;
    }

    .section-orange .Button-footer { 
        width: 150px;
        height: 50px;
    }

    .section-black {
        flex-direction: column-reverse;
        min-height: 30vh;
        margin-bottom: 30px;
    }

    .section-black .logos {
        flex-direction: column-reverse;
    }

    .section-black .input-and-atribuition .input-email input {
        width: 250px;
        padding: 10px;
    }

    .section-black .input-and-atribuition .input-email .button-footer{
        width: 80px;
        height: 45px;
    }

    .section-black .menu-footer .menu-footer-list{
        width: 800px;
    }
}

@media(max-width: 414px){
    
}